{% extends 'school/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello</h1>
  <p class="lead">Bienvenue dans votre Espace Parent</p>
  <hr class="my-4">
  <p>Vous pouvez accéder à plusieurs informations en relation avec l'année universitaire de votre enfant.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="studentsignup" role="button">S'inscrire</a>
    <a class="btn btn-primary btn-lg" href="studentlogin" role="button">Se connecter</a>
  </p>
</div>

{% endblock content %}
