{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Enseignant</h1>
  <p class="lead">Bienvenue dans notre Espace Parent</p>
  <hr class="my-4">
  <p>Vous pouvez accéder et mettre à jours les informations des élèves en relation avec leurs année scolaire.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="teachersignup" role="button">S'inscrire</a>
    <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Se connecter</a>
  </p>
</div>
{% endblock content %}
